<!doctype html>
<html>
<head>
    <!--    <meta http-equiv="refresh" content="10;url={{ url_for('get_messages') }}">-->
    <title>Logger</title>
    <style>
    header {
        position: sticky;
        top: 0;
        padding: 15px;
        background: white;
        box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
        border: 2px solid black;
    }

    </style>
</head>
<body>
<header>
    <a href="{{ url_for('clear_messages') }}">Clear messages</a>

</header>

<table border="1" id="myTable">
    <thead>
    <tr>
        <th>Time</th>
        <th>Message</th>
    </tr>
    </thead>

    <tbody>
    {% for message in messages %}
    <tr>
        <td>{{ message.time }}</td>
        <td>{{ message.message }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>

<!--<script>-->
<!--    var exampleSocket = new WebSocket("ws://" + window.location.host + "/ws");-->
<!--    exampleSocket.onmessage = function (event) {-->
<!--  console.log(event.data);-->
<!--}-->

<!--</script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
    socket = io("ws://" + window.location.host + "/ws");
    socket.on('message', function(m){
        var table = document.getElementById("myTable");
        var row = document.createElement('tr');
        var timeCell = document.createElement('td');
        var messageCell = document.createElement('td');

        timeCell.textContent = m.time;
        messageCell.textContent = m.message;

        row.appendChild(timeCell);
        row.appendChild(messageCell);

        table.appendChild(row);
    });



</script>
